<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GuangggooProject.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GuanggoWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F5EFF4B1F8E174400763F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC9A1DA1F6D2668008A0F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC9A1F31F6D2669008A0F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC9A1FE1F6D2669008A0F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
